{{!-- enter lease details --}}
{{!-- enter parking spot details --}}
{{!-- about yourself --}}

<h1>Vendor fill out details!</h1>

<form class="create-form" action="/api/fullList" method="post">
    <div class="form-group">
        <h1>Enter Lease details</h1>
        <ul>
            <h2>Time duration of Parking Spot Lease (to)</h2>
            <input type="text" id="ca" name="name">
            <h2>Time duration of Parking Spot Lease (from)</h2>
            <input type="text" id="ca" name="name">
            <h2>Price ($)</h2>
            <input type="text" id="ca" name="name">
            <h2>Payment frequency</h2>
            <input type="text" id="ca" name="name">
        </ul>
        <h1>Enter parking spot details </h1>
        <ul>
            <h2>Parking Spot Unit</h2>
            <input type="text" id="ca" name="name" placeholder="Unit">
            <h2>Parking Spot Street Number</h2>
            <input type="text" id="ca" name="name" placeholder="Streetnumber">
            <h2>Parking Spot Street Name</h2>
            <input type="text" id="ca" name="name" placeholder="Streetname">
            <h2>City</h2>
            <input type="text" id="ca" name="name">
            <h2>Postal Code</h2>
            <input type="text" id="ca" name="name">

        </ul>

        <h1>About Yourself </h1>

        <ul>
            <h2>First Name</h2>
            <input type="text" id="ca" name="first_name">
            <h2>Last Name</h2>
            <input type="text" id="ca" name="last_name">
        </ul>

        <button type="submit">Confirm your Parking Spot Rental</button>
    </div>


</form>