{{!-- enter lease details --}}
{{!-- enter parking spot details --}}
{{!-- about yourself --}}

<h1>Vendor fill out details!</h1>


<form class="create-form" action="/api/burgers" method="post">


    <div class="form-group">
        <h1>Enter Lease details</h1>
        <ul>
            <h2>Time duration of Parking Spot Lease</h2>
            <input type="text" id="ca" name="name">
            <button type="submit">Submit</button>
            <h2>Lease terms</h2>
            <input type="text" id="ca" name="name">
            <button type="submit">Submit</button>
            <h2>Rate ($)</h2>
            <input type="text" id="ca" name="name">
            <button type="submit">Submit</button>
            <h2>Rate units</h2>
            <input type="text" id="ca" name="name">
            <button type="submit">Submit</button>
        </ul>
        <h1>Enter parking spot details </h1>
        <ul>
            <h2>Parking Spot Address</h2>
            <input type="text" id="ca" name="name">
            <button type="submit">Submit</button>
            <h2>Image reference</h2>
            <input type="text" id="ca" name="name">
            <button type="submit">Submit</button>
            <h2>Region</h2>
            <input type="text" id="ca" name="name">
            <button type="submit">Submit</button>
            <h2>Spot size</h2>
            <input type="text" id="ca" name="name">
            <button type="submit">Submit</button>
        </ul>

        <h1>About Yourself </h1>

        <ul>
            <h2>First Name</h2>
            <input type="text" id="ca" name="name">
            <button type="submit">Submit</button>
            <h2>Last Name</h2>
            <input type="text" id="ca" name="name">
            <button type="submit">Submit</button>
            <h2>Email Address</h2>
            <input type="text" id="ca" name="name">
            <button type="submit">Submit</button>
        </ul>

        <button type="submit">Confirm your Parking Spot Rental</button>
    </div>



</form>